
* {
    margin: 0;
    padding: 0;
    }
body{  
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,97,114,1) 57%, rgba(0,212,255,1) 100%);
    }

.limit{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.limit__inner{
    text-align: center;
    transition: all 0.6s cubic-bezier(0.61, 1, 0.88, 1);
    }
.limit__inner:hover{
    text-align: center;
    margin-top: 45px;
    margin-left: -500px;
    transform: rotate3d(7, -2, 9.5, -890deg) scale(11.2);
    box-shadow: -11px -6px 41px 21px #000000;
    }
    
/**{
    
    border: medium dashed rgb(128, 0, 0);
}*/

